<template>
   <box :width="32" :height="10" :top="1" :left="0" :keys="false" style="bg: black">
    <camera-status v-bind="{iso, shutter, roi}"></camera-status>
     
    <form :width="26" :height="10" :left="6" :keys="false" style="bg: black">
      <text v-if="false" :top="5" :left="0" :width="13" :height="5" style="bg: white; fg: black; bold: false;">
    </text>
   </form>
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import CameraStatus from "../components/CameraStatus.vue";
import { speeds, isos, preview } from "../camera.js";
import { mapActions, mapGetters } from "vuex";

import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Camera");

export default {
  name: "Camera",
  mixins: [CommandMixin],
  components: {
    CameraStatus
  },
  data: () => {
    return {
      lookup: {
        "1,0,0,0,0": "apply",
        "0,1,0,0,0": "incrementIso",
        "0,0,1,0,0": "incrementShutter",
        "0,0,0,1,0": "setZoom",
        "0,0,0,0,1": "home"
      },
      timer: 0,
      desired: {
        iso: 800,
        shutter: "1/60"
      }
    };
  },
  computed: {
    ...mapGetters(["iso", "shutter", "zoom", "roi"]),
    labels() {
      if (this.timer > 0) {
        return [`  ${this.timer}  `, "", "", "", ""];
      } else {
        return [
          this.isSet ? "Take" : "Set",
          this.desired.iso.toString(),
          this.desired.shutter,
          "Zoom",
          "Home"
        ];
      }
    },
    isSet() {
      return (
        this.iso === this.desired.iso && this.shutter === this.desired.shutter
      );
    }
  },
  watch: {
    labels: {
      handler: function(value) {
        debug("watch labels", value);
        this.$emit("setLabels", value);
      },
      immediate: true
    }
  },
  created() {
    this.desired.iso = this.iso;
    this.desired.shutter = this.shutter;
  },
  mounted() {
    debug("mounted", this.iso, this.shutter);
    this.start();
  },
  methods: {
    ...mapActions(["setIso", "setShutter"]),
    start: async function() {
      var { camera, close, take, running } = preview({
        debug,
        stdout: debug,
        iso: this.iso,
        shutter: this.shutter,
        roi: this.roi
      });
      this.$camera = { camera, close, take, running };
    },
    stop: async function() {
      var code = await this.$camera.close();
      this.$camera = undefined;
      debug("stop", code);
    },
    setZoom: async function() {
      await this.stop();
      this.$emit("setPage", "Zoom");
    },
    incrementIso() {
      var idx = isos.indexOf(this.desired.iso);
      debug("Iso", idx);
      this.desired.iso = isos[idx + 1] || isos[0];
    },
    incrementShutter() {
      debug("shutter");
      var idx = speeds.findIndex(s => s.name === this.desired.shutter);
      debug("Shutter", idx);
      this.desired.shutter = (speeds[idx + 1] || speeds[0]).name;
    },
    apply: async function() {
      if (this.isSet) {
        debug("take");
        await this.take();
      } else {
        debug("apply");
        this.setIso(this.desired.iso);
        this.setShutter(this.desired.shutter);
        await this.stop();
        this.start();
      }
    },
    take: function() {
      this.timer = 3;
      var t = setInterval(() => {
        if (this.timer > 0) {
          debug("take timer", this.timer);
          this.timer--;
        } else {
          debug("take clear", this.timer);
          clearInterval(t);
          if (this.$camera.take) {
            this.$camera.take().then(result => {
              debug("take result", result);
            });
          }
        }
      }, 1000);
    },
    home: async function() {
      await this.stop();
      this.$emit("setPage", "Home");
    }
  }
};
</script>