<template>
   <box :width="27" :height="10" :top="1" :left="5" :keys="false" style="bg: blue">
     {{ content }}
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Empty");
export default {
  name: "Empty",

  mixins: [CommandMixin],

  data: () => {
    return {
      content: "Empty",
      lookup: {
        "1,0,0,0,0": "action",
        "0,1,0,0,0": "action",
        "0,0,1,0,0": "action",
        "0,0,0,1,0": "action",
        "0,0,0,0,1": "Home"
      },
      labels: ["", "", "", "", "home"]
    };
  },

  methods: {
    action(action) {
      debug("action", action);
    }
  }
};
</script>