<template>
   <box :width="32" :height="5" :top="1" :left="0" :keys="false" style="bg: black">
     <text>{{ content }}</text>
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import { mapGetters } from "vuex";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Home");
export default {
  name: "Home",
  mixins: [CommandMixin],
  data: () => {
    return {
      ra: undefined,
      dec: undefined,
      lookup: {
        "1,0,0,0,0": "Camera",
        "0,1,0,0,0": "Scope",
        "0,0,1,0,0": "Empty",
        "0,0,0,1,0": "Settings",
        "0,0,0,0,1": "Shutdown"
      },
      labels: ["Cam", "Scope", "", "Conf", "Off"]
    };
  },
  computed: {
    ...mapGetters("nexstar-server", ["connected"]),
    content() {
      return `Home
nexstar: ${this.connected}
ra: ${this.ra}
dec: ${this.dec}`;
    }
  },
  mounted() {
    this.$mqtt.subscribe(["nexstar/getRaDec"]).then(function(granted) {
      debug("mqtt granted", granted);
    });
    this.$mqtt.on("message", (topic, payload, packet) => {
      try {
        var args = JSON.parse(payload.toString());
        this.ra = args.ra;
        this.dec = args.dec;
      } catch (err) {
        console.error(
          `mqtt on message error topic: ${topic} payload: ${payload.toString()}`,
          err
        );
      }
    });
  },
  beforeDestroy() {
    this.$mqtt.unsubscribe("nexstar/getRaDec").then(function(err) {
      debug("unsubscribe", err || "ok");
    });
  },
  methods: {}
};
</script>