<template>
   <box :width="27" :height="10" :top="1" :left="5" :keys="false" style="bg: blue">
     {{ content }}
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Scope");
export default {
  name: "Scope",
  mixins: [CommandMixin],
  data: () => {
    return {
      content: "Empty",
      lookup: {
        // "1,0,0,0,0": "apply",
        // "0,1,0,0,0": "incrementIso",
        // "0,0,1,0,0": "incrementShutter",
        // "0,0,0,1,0": "setZoom",
        "0,0,0,0,1": "Home"
      }
    };
  },
  computed: {
    labels() {
      return ["", "", "", "", "home"];
    }
  },
  mounted() {
    this.$emit("setLabels", this.labels);
  },
  methods: {
    action(action) {
      debug("action", action);
    }
  }
};
</script>