<template>
   <box :width="32" :height="10" :top="1" :left="0" :keys="false" style="bg: black; fg: red">
        <text>{{ content }}</text>

        <box :width="4" :height="2" :top="2" :left="0" style="bg: black; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="4" style="bg: red; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="8" style="bg: green; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="12" style="bg: yellow; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="16" style="bg: blue; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="20" style="bg: magenta; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="24" style="bg: cyan; fg: blue"></box>
        <box :width="4" :height="2" :top="2" :left="28" style="bg: white; fg: blue"></box>

        <box :width="4" :height="2" :top="4" :left="0" style="bg: lightblack; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="4" style="bg: lightred; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="8" style="bg: lightgreen; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="12" style="bg: lightyellow; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="16" style="bg: lightblue; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="20" style="bg: lightmagenta; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="24" style="bg: lightcyan; fg: blue"></box>
        <box :width="4" :height="2" :top="4" :left="28" style="bg: lightwhite; fg: blue"></box>

        <box :width="4" :height="2" :top="6" :left="0" style="bg: gray; fg: blue"></box>
        <box :width="4" :height="2" :top="6" :left="16" style="bg: lightgray; fg: blue"></box>


   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import { setBrightness } from "../settings.js";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Screen");

export default {
  name: "Screen",

  mixins: [CommandMixin],

  data: () => {
    return {
      brightness: undefined,
      step: 64,
      lookup: {
        "1,0,0,0,0": "Settings",
        "0,1,0,0,0": "up",
        "0,0,1,0,0": "down",
        "0,0,0,1,0": "action",
        "0,0,0,0,1": "Home"
      }
    };
  },

  mounted() {
    this.brightness = this.$conf.get("brightness");
    debug("brightness", this.brightness);
  },

  computed: {
    canUp() {
      return this.brightness <= 1024 - this.step;
    },
    canDown() {
      return this.brightness >= 0 + this.step * 2;
    },
    labels() {
      return [
        "back",
        this.canUp ? "up" : "",
        this.canDown ? "down" : "",
        "",
        "home"
      ];
    },
    content() {
      return `brightness: ${(this.brightness / 1024 * 100).toFixed(0)}%`;
    }
  },

  methods: {
    action(action) {
      debug("action", action);
    },

    up() {
      if (this.canUp) {
        debug("up");
        this.brightness += this.step;
      } else {
        this.brightness = 1024;
      }
      this.$conf.set("brightness", this.brightness);
      setBrightness(this.brightness);
    },

    down() {
      if (this.canDown) {
        this.brightness -= this.step;
      } else {
        this.brightness = this.step * 2;
      }
      this.$conf.set("brightness", this.brightness);
      setBrightness(this.brightness);
    }
  }
};
</script>