<template>
   <box :width="32" :height="10" :top="1" :left="0" :keys="false" style="bg: black">
     {{ content }}
     
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import shell from "shelljs";
import { Gpio } from "onoff";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Settings");

export default {
  name: "Settings",
  mixins: [CommandMixin],
  data: () => {
    return {
      content: "Settings",
      lookup: {
        "1,0,0,0,0": "Screen",
        "0,1,0,0,0": "action",
        "0,0,1,0,0": "action",
        "0,0,0,1,0": "clear",
        "0,0,0,0,1": "Home"
      }
    };
  },
  computed: {
    labels() {
      return ["screen", "", "", "clear", "home"];
    }
  },
  methods: {
    action(action) {
      debug("action", action);
    },

    clear() {
      debug("clear");
      this.$emit("action", "clearScreen");
    }
  }
};
</script>