<template>
   <box :width="32" :height="10" :top="1" :left="0" :keys="false" style="bg: black">
     <text>{{ content }}</text>
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import shell from "shelljs";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:Shutdown");

export default {
  name: "Shutdown",
  mixins: [CommandMixin],
  data: () => {
    return {
      content: "Shutdown?",
      lookup: {
        "1,0,0,0,0": "restart",
        "0,1,0,0,0": "",
        "0,0,1,0,0": "shutdown",
        "0,0,0,1,0": "",
        "0,0,0,0,1": "Home"
      },
      labels: ["Reboot", "", "Yes", "", "No"]
    };
  },
  mounted() {
    // this.$emit("setLabels", );
  },
  methods: {
    shutdown() {
      debug("shutdown");
      var code = 2;
      this.content = `${code} shutdown`;
      this.$emit("stop-preview");
      debug(`${code} *** shutdown`);
      setTimeout(() => {
        process.exit(code);
      }, 5000);
      // shell.exec(`sudo shutdown`);
    },

    restart() {
      debug("*** restart");
      shell.exec(`sudo reboot`);
    }
  }
};
</script>