<template>
   <box :width="26" :height="10" :top="1" :left="0" :keys="false" style="bg: black">
     <text :width="6" :content="sidebar" style="fg: red; bold: true;"></text>
     <text :top="pos.top" :left="pos.left" :width="13" :height="5" style="bg: white; fg: black; bold: false;">
     </text>
   </box>
</template>

<script>
import CommandMixin from "../command-mixin.js";
import numeral from "numeral";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:zoom");
import { speeds, isos, preview } from "../camera.js";
import { mapGetters, mapActions } from "vuex";

var camera;

var quads = [
  { top: 0, left: 6 },
  { top: 0, left: 19 },
  { top: 5, left: 6 },
  { top: 5, left: 19 }
];

export default {
  name: "Zoom",
  mixins: [CommandMixin],
  data: () => {
    return {
      content: "Zoom",
      quad: 0,
      lookup: {
        "1,0,0,0,0": "zoomout",
        "0,1,0,0,0": "zoomin",
        "0,0,1,0,0": "zoomnext",
        // "0,0,0,1,0": "home",
        "0,0,0,0,1": "back"
      }
    };
  },
  computed: {
    ...mapGetters(["zoom", "roi", "iso", "shutter"]),
    pos: function() {
      return quads[this.quad];
    },
    sidebar() {
      return `Q: ${this.quad}
Z: ${this.zoom.join("")}
ROI:
X${numeral(this.roi.X).format("0%")}
Y${numeral(this.roi.Y).format("0%")}
W${numeral(this.roi.W).format("0%")}
H${numeral(this.roi.H).format("0%")}`;
    },
    labels() {
      return [this.zoom.length > 0 ? "out" : "", "in", "next", "", "Back"];
    }
  },
  // watch: {
  //   labels: {
  //     handler: function(value) {
  //       debug("watch labels", value);
  //       this.$emit("setLabels", value);
  //     },
  //     immediate: true
  //   }
  // },
  mounted() {
    this.start();
    debug("mounted", this.$store, this.zoom, this.iso, this.shutter);
  },
  methods: {
    ...mapActions(["zoomIn", "zoomOut"]),
    start: async function() {
      camera = preview({
        debug,
        stdout: debug,
        iso: this.iso,
        shutter: this.shutter,
        opacity: 128,
        roi: this.roi
      });
    },
    stop: async function() {
      var code = await camera.close();
      debug("stop", code);
    },
    restart: async function() {
      await this.stop();
      this.start();
      this.quad = 0;
    },
    zoomout() {
      debug("zoomout");
      if (this.zoom.length > 0) {
        this.zoomOut();
        this.restart();
      } else {
        debug("zoomout not zoomed in! No Action.");
      }
    },
    zoomin() {
      this.zoomIn(this.quad);
      this.restart();
    },
    zoomnext() {
      debug("zoomnext", this.quad, quads.length);
      this.quad = this.quad < 3 ? this.quad + 1 : 0;
    },
    back: async function() {
      var code = await camera.close();
      debug("camera closed", code);
      this.$emit("setPage", "Camera");
    }
  }
};
</script>