<template>
   <box :width="5" :height="9" :left="0" :content="cameraStatus" style="bg: black; fg: red; bold: false" />
</template>

<script>
import numeral from "numeral";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:CameraStatus");
export default {
  name: "header",
  props: ["iso", "shutter", "roi"],
  data: () => {
    return {
      content: ""
    };
  },
  computed: {
    roiStr() {
      if (this.roi.X > 0 || this.roi.Y > 0 || this.roi.W < 1 || this.roi.H < 1)
        return `ROI:
X${numeral(this.roi.X).format("0%")}
Y${numeral(this.roi.Y).format("0%")}
W${numeral(this.roi.W).format("0%")}
H${numeral(this.roi.H).format("0%")}`;
      else return "";
    },

    cameraStatus() {
      return `iso:
${this.iso}
f/r:
${this.shutter}
${this.roiStr}`;
    }
  }
};
</script>