<template>
    <box :height="1" :top="11" :left="0" width="100%">
        <text v-for="(button, index) in buttons" :key="index" :top="0" :height="1" :left="button.position" :width="button.width || width" align="center" :style="button.value ? buttonStyle : selectedStyle" :content="labels[index]" /> 
    </box>
</template>
<script>
import Buttons, { pins } from "../buttons.js";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:footer");
var buttons;
export default {
  name: "Footer",
  props: ["labels"],
  data: () => {
    return {
      width: Math.floor(32 / pins.length),
      buttons: [
        { label: "onexx", position: 1, value: 1, width: 6 },
        { label: "twoxx", position: 8, value: 1, width: 6 },
        { label: "three", position: 14, value: 1, width: 6 },
        { label: "fourx", position: 21, value: 1, width: 6 },
        { label: "fivex", position: 27, value: 1 }
      ],
      buttonStyle: {
        bg: "black",
        fg: "red",
        bold: true
      },
      selectedStyle: {
        bg: "black",
        fg: "red",
        bold: false
      }
    };
  },
  created() {
    this.buttons.forEach((button, idx) => {
      debug("created", button.label, idx);
      button.label = this.labels[idx];
    });
  },
  mounted() {
    buttons = Buttons.install(undefined, {
      onClick: this.buttonClick,
      onChange: this.buttonChange
    });
  },
  methods: {
    buttonChange({ button, value, idx, pin, err }) {
      this.buttons[idx].value = value;
    },
    buttonClick(clicks) {
      this.$emit(
        "clicks",
        this.labels.reduce(function(result, label, idx) {
          if (!result.clicks) result.clicks = clicks;
          result[label] = clicks[idx];
          return result;
        }, {})
      );
    }
  }
};
</script>