<template>
    <box :content="content" width="100%" :height="1" :top="0" :left="0" style="bg: black; fg: red; bold: true" />
</template>
<script>
import moment from "moment";
import { mapGetters } from "vuex";
import { debug as Debug } from "debug";
import numeral from "numeral";

const debug = Debug("scope-pi:header");

const fix = (pre, f, d = 2) => f && `${pre}${f.toFixed(2)}`;

export default {
  name: "header",
  data: () => {
    return {
      time: undefined
    };
  },
  computed: {
    ...mapGetters("nexstar", ["ra", "dec", "updated"]),
    content() {
      // debug("content", Date.now() - this.mqtt_update);
      var radec =
        this.ra && this.dec && Date.now() - this.updated < 30000
          ? `r:${numeral(this.ra).format("+0.0000")} d:${numeral(
              this.dec
            ).format("+0.0000")}`
          : "scope n/c";

      return `${moment(this.time).format("HH:mm:ss z")} ${radec}`;
    }
  },
  mounted() {
    setInterval(() => {
      this.time = Date.now();
    }, 1000);
  }
};
</script>