<template>
  <screen ref='screen' :smartCSR="true" :keys="true">
    <header />
    <component v-if="mode" :is="mode" ref="page" @setPage="setPage" @setLabels="setLabels" @action="action" />
    <!-- <text :top="1">foobar</text> -->

    <footer :labels="labels" @clicks="clicks" />
  </screen>
</template>

<script>
import moment from "moment";
import { mapActions, mapState } from "vuex";
import footer from "./components/Footer.vue";
import header from "./components/Header.vue";
import Home from "./views/Home.vue";
import Shutdown from "./views/Shutdown.vue";
import Camera from "./views/Camera.vue";
import Scope from "./views/Scope.vue";
import Zoom from "./views/Zoom.vue";
import Settings from "./views/Settings.vue";
import Screen from "./views/Screen.vue";
import Empty from "./views/Empty.vue";
import { initBrightness, setBrightness } from "./settings.js";
import { debug as Debug } from "debug";
const debug = Debug("scope-pi:app");

const Pages = {
  Home,
  Zoom,
  Camera,
  Scope,
  Settings,
  Screen,
  Empty,
  Shutdown
};

export default {
  name: "App",
  components: Object.assign(Pages, { header, footer }),
  data: () => {
    return {
      mode: undefined,
      labels: ["", "", "", "", ""]
    };
  },
  computed: Object.assign(
    mapState({
      logs: state => state.logs
    })
  ),
  watch: {
    labels: function(value) {
      debug("watch labels", value);
      // if (this.restart && !value) this.Preview();
    }
  },
  mounted() {
    // debug("mounted");
    this.$refs.screen.key(["C-c"], () => {
      process.exit(0);
    });

    // restore settings
    // Screen.setBrightness(this.$conf.get("brightness"));
    var brightness = this.$conf.get("brightness");
    debug("brightness", brightness);
    initBrightness();
    setBrightness(brightness || 1024);

    /**
     * Initial Page
     */
    this.setPage("Home");
  },
  methods: Object.assign(mapActions(["appendLog"]), {
    clicks: function(buttons) {
      debug("clicks");
      var bcode = buttons.clicks.join(",");
      this.$refs.page.button(bcode);
    },
    setLabels: function(labels) {
      debug("setLabels", labels);
      this.labels = labels.map(x => x);
    },
    setPage: function(name) {
      debug("setPage", name);
      this.mode = Pages[name];
    },
    action(name, ...data) {
      debug("action", name, data);
      this.$refs.screen.render();
    }
  })
};
</script>
